<div class="container map">
  <div class="jumbotron text-center">
    <ui-gmap-google-map center='map.map.center' zoom='map.map.zoom'>
    	<ui-gmap-markers models="map.markers.markers" coords="'self'" icon="'bite'" click="map.onClick">
    		<ui-gmap-windows show="show">
          <div class="detailWeather">
            <div class="icon">
              <i class="fa" ng-class='model.weather.weather[0].main'></i>
            </div>
            <div class="detail-city" ng-bind="model.city">
            </div>
            <div >
              Il fait acutellement <span ng-bind="model.weather.map.temp"></span> et la météo annonce : <span ng-bind="model.weather.weather[0].description"></span>
            </div>
            <div>
              <button class="btn detail-button" ng-click="model.goDetail(model.city)">
                Détails
              </button>
            </div>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>    	
    </ui-gmap-google-map>
  </div>
</div>


