<div class="container main">
  <div class="jumbotron text-center">
    <ui-gmap-google-map center='main.map.center' zoom='main.map.zoom'>
    	<ui-gmap-markers models="main.markers.markers" coords="'self'" icon="'bite'" click="main.onClick">
    		<ui-gmap-windows show="show">
          <div class="detailWeather">
            <div ng-bind="model.city">
            </div>
            <div ng-bind="model.weather.weather[0].description">
            </div>
            <div ng-bind="model.weather.main.temp">
            </div>
            <div>
              <button class="btn btn-info" ng-click="model.goDetail(model.city)">
                détail
              </button>
            </div>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>    	
    </ui-gmap-google-map>
  </div>
</div>

<button ng-click="main.displayDetailCity('chatte')">aer</button>

