.city{
	margin-top: 50px;
	.title{
		color : white;
		background-color: @brand-primary;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		font-weight: 600;
	}
	.content{
		background-color: @gray-lighter;
		min-height: 100px;
	}
}